# Python
*.pyc
*.pyo
__pycache__/

# Virtual environments
venv/
env/

# Django
db.sqlite3
/media/
*.log

# Static files
/staticfiles/
*.css.map
*.js.map

# Environment variables
.env

# IDEs and Editors
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Windows
Thumbs.db
